# ---- App ports ----
EVENTS_PORT=
INCIDENTS_PORT=
ALERTS_PORT=

# ---- PostgreSQL (TypeORM) -> incidents
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ---- MongoDB (Mongoose) -> events --- alerts
MONGO_URI=

# ---- Redis -> caching + BullMQ queue (event-incident-queue)
#   events (producer) -> event-incident-queue -> alerts (consumer/worker)
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=0

# ----- Integrated external service
API_OPSMONITOR_INCIDENTS=http://localhost:8000/

